#chat {
	/*background-color: lemonchiffon;*/
	width: 100%;
	height: 100px;
	flex: 1;
	
	overflow-y: scroll;
}


.items {
	background-color: #FAFAFA;
	
	width: 100%;
	height: 60px;

}


.items-container {
	width: 96%;
	border-bottom: 1px solid #E0E0E0;
}

.items-left {
	width: 54px;
	height: 54px;
}

.items-right {
	flex: 1;
	height: 54px;
}

